body {
  font-family: arial, sans-serif;
  margin: 0;
}

h1 {
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#puzzle {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  width: 400px;
  border: 1px solid #ccc;
}

#puzzle div {
  box-sizing: border-box;
  height: 25%;
  width: 25%;
}

#puzzle .tile {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  background-color: #ddd;
  cursor: pointer;
}

.overlay {
  box-sizing: border-box;
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hidden {
  display: none;
}

.modal {
  box-sizing: border-box;
  text-align: center;
  padding: 24px;
  background-color: #fff;
  border-radius: 4px;
}

@media (max-width: 420px) {
  h1 {
    font-size: 1.6rem;
  }

  #puzzle {
    height: 300px;
    width: 300px;
  }
}